<!DOCTYPE html>
<html lang="en">

<head>

    <title>EchaleOjo</title>
    <link rel="icon" type="image/x-icon" href="img/ojofavicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="echale ojo app">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Jess, Carlos & Kathia">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <meta property="og:type" content="Echale Ojo App">
    <!-- <meta property="og:url" content="https://...direccion de herokuapp.com/"> -->
    <meta property="og:site_name" content="Echale Ojo App">
    <!-- <meta property="og:image" itemprop="IMAGE you wanna show in the main link" content="....jpg"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- <link rel="stylesheet" href="css/...css">
    <link rel="stylesheet" href="css/....css">
    <link rel="stylesheet" href="css/....css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

</head>

<body>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.5/gsap.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script> -->

    <div class="site-content" style="overflow-x: hidden;">

        <section class="buttons">

            <div class="container">
                <a href="/mapa" class="btn ">Mapa</a>
                <a href="/login" class="btn ">Login</a>
                <a href="/registro" class="btn ">Registro</a>
                <a href="/acerca" class="btn ">Acerca</a>
                <a href="/promo" class="btn ">Promo</a>
                <a href="/"><img class="imgLogo"  src="img/ojoLOGO.png">
                    <h1>Echale ojo</h1>
                </a>
                <a href="/anuncios" class="btn ">Anuncios</a>
                <a href="/conoce" class="btn ">Conoce</a>
                <a href="/rutas" class="btn ">Rutas</a>
                <a href="/blog" class="btn ">Blog</a>
                <a href="/galeria" class="btn ">Galeria</a>
                
            </div>
        </section>
    </div>
</body>
</html>