<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>echale ojo | Mapa</title>
        <link rel="icon" type="image/x-icon" href="/img/ojofavicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
        <!-- <link rel="stylesheet" href="css/...css">
        <link rel="stylesheet" href="css/---.css"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body style="margin: 1px;">
            <!-- the menu  -->
        <div class="curtain-menu">
            <div class="curtain-menu-wrapper">
                <ul class="curtain-menu-list menu vertical" style="padding-left: 0px;">
                    <li><a href="/"><img class="imgLogo" src="img/ojoLOGO.png">
                        <p style="margin: 0px; font-size: small;">Echale ojo App</p>
                    </a></li>
                    <li><a href="/login" class="btn ">Login</a></li>
                    <li><a href="/registro" class="btn ">Registro</a></li>
                    <li><a href="/acerca" class="btn ">Acerca</a></li>
                    <li><a href="/promo" class="btn ">Promo</a></li>
                    <li><a href="/anuncios" class="btn ">Anuncios</a></li>
                    <li><a href="/conoce" class="btn ">Conoce</a></li>
                    <li><a href="/rutas" class="btn ">Rutas</a></li>
                    <li><a href="/blog" class="btn ">Blog</a></li>
                    <li><a href="/galeria" class="btn ">Galeria</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>